{%- macro automodule(modname, options) -%}
.. automodule:: {{ modname }}
{%- for option in options %}
   :{{ option }}:
{%- endfor %}
{%- endmacro %}

{{ pkgname.split('.')[-1] | e | heading }}

{% if subpackages %}
.. toctree::
   :maxdepth: {{ maxdepth }}

{% for subpackage in subpackages %}
   {{ subpackage.split('.')[-1] }} <{{ subpackage }}>
{% endfor %}
{% endif %}

{% if submodules and separatemodules %}
.. toctree::
   :maxdepth: {{ maxdepth }}

{% for submodule in submodules %}
   {{ submodule.split('.')[-1] }} <{{ submodule }}>
{% endfor %}
{% endif %}

{% if submodules and not separatemodules %}
{% for submodule in submodules %}
{{ automodule(submodule, automodule_options) }}
{% endfor %}
{% endif %}

{% if not is_namespace %}
{{ automodule(pkgname, automodule_options) }}
{% endif %}
