.wy-side-nav-search .rst-versions {
    position: relative !important;
    bottom: auto !important;
    left: auto !important;
    width: 100% !important;

    margin: 10px 0 !important;

    text-align: left;
    z-index: 1000;
}
